$break-phone: 420px
.list-item-container
  float: left
  font-family: Raleway, serif
  cursor: pointer
  background: #f6f6f6
  margin: 0 0 5px
  width: 100%
  border-radius: 10px
  padding: 20px
  @media screen and (max-width: $break-phone)
    padding: 0

.list-item-container:hover
  background: #c1d8f6
.list-item-image
  width: 20%
  align-content: center
  float: left
  padding: 15px
.list-item-image > img
  width: 100%
.list-item-details
  float: left
  width: 70%
.list-item-details>h3
  @media screen and (max-width: $break-phone)
    font-size: 14px
    padding-top: 10px
