<a mat-raised-button id='button-show-filter' (click)="toggleFilterView()">{{showFilters ? 'Hide':'Show'}} Filters</a>
<div class="filter-bar" [class.active]="showFilters" >
  <mat-card *ngIf="filterStructure.price" class="filter-bar-item">
    <mat-card-title>Price</mat-card-title>
    <div *ngFor="let range of filterStructure.price">
      <mat-checkbox (change)="onPriceSelect(range)" [checked]="isPriceSelected(range)" >{{range[1] > 100 ? 'above' : ''}} {{ range[0] < 1 ? '<=' : range[0] | currency}} {{ range[1] > 100 ? '' : range[1] | currency}}</mat-checkbox>
    </div>
  </mat-card>
  <mat-card *ngIf="filterStructure.categories" class="filter-bar-item">
    <mat-card-title>Categories</mat-card-title>
    <div *ngFor="let categoryId of filterStructure.categories">
      <mat-checkbox (change)="onAttributeSelect('categories', categoryId)" [checked]="isAttributeSelected('categories', categoryId)"  >category-{{categoryId}}</mat-checkbox>
    </div>
  </mat-card>
  <mat-card *ngIf="filterStructure.size" class="filter-bar-item">
    <mat-card-title>Size</mat-card-title>
    <div *ngFor="let size of filterStructure.size">
      <mat-checkbox (change)="onAttributeSelect('size', size)" [checked]="isAttributeSelected('size', size)"  >size-{{size}}</mat-checkbox>
    </div>
  </mat-card>

  <mat-card *ngIf="filterStructure.material" class="filter-bar-item">
    <mat-card-title>Material</mat-card-title>
    <div *ngFor="let material of filterStructure.material">
      <mat-checkbox (change)="onAttributeSelect('material', material)" [checked]="isAttributeSelected('material', material)"  >material-{{material}}</mat-checkbox>
    </div>
  </mat-card>
</div>
